{# ./index.njk  #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <main>
      <h1>{{ title }}</h1>
      <div id="dropArea" class="input">
        <label for="imageInput">
          Drag & drop or Click to select a image file!
          <input id="imageInput" class="input-file" type="file" accept=".jpg,.png,image/jpeg,image/png">
        </label>
      </div>
      <section class="output hide" id="outputArea">
        <h2>output</h2>
        <dl class="before">
          <dt>before</dt>
          <dd>
            <a id="downloadBefore">
              <img id="imageBefore">
            </a>
          </dd>
        </dl>
        <dl class="after">
          <dt>after</dt>
          <dd>
            <a id="downloadAfter">
              <img id="imageAfter">
            </a>
          </dd>
        </dl>
      </section>
    </main>
    <script src="/js/bundle.js"></script>
  </body>
</html>
